<template>
    <div>
        <button class="btn btn-sm btn-secondary" 
                @click="showModal = true">
                <i class="fas fa-edit"></i>
        </button>
        <div style="display:table;width:100%;height:100%;position:fixed;z-index:9998;top:0;left:0;background-color:rgba(0,0,0,0.5);"
             v-if="showModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Bug report wijzigen</h5>
                        <button type="button" 
                                class="close" 
                                @click="showModal = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <form @submit.prevent="submit">
                        <input type="hidden" name="id" v-model="fields.id">
                        <div class="mt-3">
                            <label class="text-secondary w-100 mb-2 font-weight-bold text-uppercase" 
                                for="type">Type</label>
                            <select name="type" class="form-control" id="type" disabled>
                                <option :selected="true"> {{ type }} </option>
                            </select>
                        </div>
                        <div class="mt-3">
                            <label class="text-secondary w-100 mb-2 font-weight-bold text-uppercase"
                                for="name"
                            >Samenvatting</label>
                            <input class="border p-2 w-100" 
                                type="text"
                                name="name"
                                required
                                v-model="fields.name">
                            <div v-if="errors && errors.name" class="text-danger">{{ errors.name[0] }}</div>
                        </div>
                        <div class="mt-3">
                            <label class="text-secondary w-100 mb-2 font-weight-bold text-uppercase" 
                                for="description">Uitgebreide Beschrijving</label>
                            <textarea 
                                    rows="7" 
                                    class="border p-2 w-100" 
                                    type="text" 
                                    name="description" 
                                    id="description"
                                    required
                                    v-model="fields.description">
                            </textarea> 
                            <div v-if="errors && errors.description" class="text-danger">{{ errors.description[0] }}</div>
                        </div>
                    </form>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"
                                @click="submit()">Opslaan</button>
                        <button class="btn btn-secondary" 
                                @click="showModal = false">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            fields: {}, // Form fields
            errors: {}, // Form errors
            showModal: false, // Display form modal
        };
    },

    props: {
        name: String,
        description: String,
        id: String,
        uri: String,
        type: String,
    },

    created: function() {
        this.fields.name = this.$props.name;
        this.fields.description = this.$props.description;
        this.fields.id = this.$props.id;
    },
    
    methods: {
        submit() {
            this.errors = {};
            axios.put(this.$props.uri, this.fields).then(response => {
                this.showModal = false; // Close modal
                Swal.fire({
                    title: "Het is gelukt!",
                    content: "Het report is geüdate!",
                    icon: "success"
                });
            }).catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors || {};
                }
            });        
        }
    }
}
</script>

